@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@200..900&display=swap');
/* Contenedor principal */
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 95vh;
  font-family: 'Arial', sans-serif;
  padding: 20px;
  background-color: #602638;
}

/* Título principal */
.mainHeader {
  font-family: "Inconsolata", monospace;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings:"wdth" 70;
  text-align: center;
  margin-bottom: 20px;
}

.mainHeader h1 {
  font-size: 40px;
  color: #f1bd7a;
  margin: 0;
}

/* Contenedor del chat */
.chatContainer {
  width: 100%;
  max-width: 600px;
  background-color: #ef866e;
  display: flex;
  flex-direction: column;
  height: 80vh;
  border-radius: 10px;
  padding: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Cabecera del chat */
.header {
  font-family: "Inconsolata", monospace;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  font-variation-settings:"wdth" 70;
  text-align: center;
  margin-bottom: 20px;
  padding: 10px 20px;
  background-color: #823846;
  color: #f1bd7a;
  border-radius: 10px;
  font-size: 25px;
}

/* Caja de chat */
.chatBox {
  display: flex;
  flex-direction: column;
  gap: 10px;
  flex-grow: 1;
  padding: 20px;
  overflow-y: auto;
  background-color: #ef866e;
  border-radius: 10px;
  box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.1);
}

/* Mensajes */
.userMessage, .botMessage {
  display: flex;
}

.userMessage {
  justify-content: flex-end;
}

.botMessage {
  justify-content: flex-start;
}

/* Burbuja de mensajes */
.userBubble, .botBubble {
  padding: 10px 15px;
  border-radius: 20px;
  max-width: 80%;
  font-size: 14px;
  line-height: 1.4;
  word-wrap: break-word;
}

.userBubble {
  background-color: #FF7F32;
  color: white;
}

.botBubble {
  background-color: #602638;
  color: white;
}

/* Formulario de entrada */
.form {
  display: flex;
  align-items: center;
  padding: 10px 20px;
  background-color: #ef866e;
  border-radius: 10px;
  box-shadow: 0 -2px 4px rgba(0, 0, 0, 0.1);
}

.input {
  flex-grow: 1;
  padding: 12px;
  border-radius: 20px;
  border: 1px solid #ef866e;
  font-size: 14px;
  outline: none;
  transition: border-color 0.3s ease;
}

.input:focus {
  border-color: #FF8C00;
  box-shadow: 0 0 8px rgba(255, 140, 0, 0.3);
}

.sendButton {
  padding: 10px 15px;
  background-color: #823846;
  color: white;
  border: none;
  border-radius: 20px;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
  margin-left: 10px;
  transition: background-color 0.3s ease, transform 0.2s ease;
}

.sendButton:hover {
  background-color: #E67300;
}

.sendButton:active {
  transform: scale(0.98);
}

